{% extends 'base.html' %}

{% block title %}Segurança{% endblock title %}

{% block content %}
<main>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Segurança</h1>
    </div>
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" href="{% url 'accounts:update_usuario' user.id %}">Perfil</a>
        <a class="nav-link active ml-0" href="#">Segurança</a>
    </nav>
    <hr class="mt-0 mb-4"/>
    <div class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Alterar Senha</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <b class="text-center">
                                {% if form.errors.items|length == 1 %}Por Favor, Corrija o Erro Abaixo.{% else %}Por
                                Favor, Corrija os Erros Abaixo.{% endif %}
                            </b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <!-- Form Group (current password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_old_password">Senha Atual</label>
                            <input class="form-control" name="old_password" id="id_old_password" type="password"
                                   placeholder="Digite a Senha Atual" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.old_password.errors }}
                            </div>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_new_password1">Nova Senha</label>
                            <input class="form-control" name="new_password1" id="id_new_password1" type="password"
                                   placeholder="Digite a Nova Senha" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.new_password1.errors }}
                            </div>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_new_password2">Confirmar Senha</label>
                            <input class="form-control" name="new_password2" id="id_new_password2" type="password"
                                   placeholder="Confirme a Nova Senha" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
