{% extends 'base_accounts.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block "></div>
                    <div class="col-lg-8 d-none d-lg-block ">
                        <div class="p-5">
                            <div class="text-center">
                                <p>Te enviamos um email com as instruções para resetar sua senha, se uma conta com este
                                    email
                                    existir no nosso banco de dados.</p>
                            </div>
                            <div class="text-center">
                                <p>Se você não tiver recebido um email, por favor certifique-se de que você entrou com
                                    um
                                    email
                                    correto.</p>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-info" href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

