{% extends 'base_accounts.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Cadastro{% endblock title %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"><img src="{% static 'img/img-cadastro.jpg' %}" alt=""></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Crie a sua conta no Despess!</h1>
                    </div>
                    <form class="user" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <b class="text-center">
                                {% if form.errors.items|length == 1 %}Por Favor, Corrija o Erro Abaixo.{% else %}Por
                                Favor, Corrija os Erros Abaixo.{% endif %}
                            </b>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="id_first_name"
                                       name="first_name" placeholder="Nome" required>
                                <div class="text-danger small">
                                {{ form.first_name.errors }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="id_last_name"
                                       name="last_name" placeholder="Sobrenome" required>
                                <div class="text-danger small">
                                    {{ form.last_name.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="id_username"
                                   name="username" placeholder="E-mail" required>
                            <div class="text-danger small">
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user"
                                       id="id_password1" name="password1" placeholder="Senha" required>
                                <div class="text-danger small">
                                    {{ form.password1.errors }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                       id="id_password2" name="password2" placeholder="Repita a Senha" required>
                                <div class="text-danger small">
                                    {{ form.password2.errors }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Cadastrar
                        </button>
                        <hr>
                        <a href="{% provider_login_url 'google' %}" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Cadastre-se com Google
                        </a>
                        <a href="{% provider_login_url 'facebook' %}" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Cadastre-se com Facebook
                        </a>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'login' %}">já tem uma conta? Faça Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}