<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categoria_list</title>
</head>
<body>
    {% for categoria in list_categoria %}
        <label>{{ categoria }} </label>
        <a href="{% url 'gerenciador:updateCategoria' categoria.id %}">Update </a>
        <a href="{% url 'gerenciador:deleteCategoria' categoria.id %}">Delete</a><br>
    {% endfor %}
    <br>
    <a href="{% url 'gerenciador:createCategoria' %}">Novo</a>
</body>
</html>