<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Despesa_list</title>
</head>
<body>
    {% for despesa in list_despesa %}
        <label>{{ despesa.descricao }} </label>
        <a href="{% url 'gerenciador:updateDespesa' despesa.id %}">Update </a>
        <a href="{% url 'gerenciador:deleteDespesa' despesa.id %}">Delete</a><br>
    {% endfor %}
    <br>
    <a href="{% url 'gerenciador:createDespesa' %}">Novo</a>
</body>
</html>