{% extends 'base.html' %}

{% block title %}Nova Despesa{% endblock title %}

{% block style %}
<style type="text/css">
    .check-radio {
        position: relative;
    }

    .check-radio input {
        -webkit-appearance: none;
        appearance: none;
        background-color: #eee;
        width: 40px;
        height: 15px;
        border-radius: 10px;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5);
    }

    .check-radio input:focus {
        outline: none;
        cursor: pointer;
    }

    .check-radio input:before {
        content: '';
        margin-top: -2.5px;
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px #333, 0 2px 5px rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        transition: left .3s ease-out;
        -webkit-transition: left .3s ease-out;
    }

    .check-radio input:after {
        content: 'NO';
        display: block;
        margin-top: -2.5px;
        left: 20px;
        position: absolute;
        font-size: 14px;
        font-weight: bold;
        transition: left .3s ease-out;
        -webkit-transition: left .3s ease-out;
        color: #666;
    }

    .check-radio input:checked {
        background-color: lime;
    }

    .check-radio input:checked:before {
        left: 22.5px;
        box-shadow: inset 0 0 0 2px green, 0 2px 5px rgba(0, 0, 0, .5);
    }

    .check-radio input:checked:after {
        content: 'YES';
        left: 43.5px;
        color: green;
    }
</style>
{% endblock style %}

{% block content %}
<main>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Despesas</h1>
    </div>
    <!-- Account page navigation-->

    <hr class="mt-0 mb-4"/>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Nova Despesa</div>
                <div class="card-body">
                    <input type="hidden" id="gerenc" value="{{ id_gerenc }}">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Valor</label>
                                {{ form.valor }}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Data</label>
                                {{ form.data }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="small mb-1">Descrição</label>
                                {{ form.descricao }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Categoria</label>
                                <select id="id_id_categoria" name="id_categoria" class="form-control" required>
                                    <option value="" selected disabled>Selecione</option>
                                    {% for categoria in TipoCategoria %}
                                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label id="lab_pago" class="mb-1">Pago</label><br>
                                    {{ form.pago }}
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label id="lab_fixa" class="mb-1">Despesa Fixa</label><br>
                                    {{ form.despesa_fixa }}
                                </div>
                            </div>
                        </div>
                        {{ form.fixa_ativa }}
                        {{ form.id_gerenciador }}
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_valor").addClass("form-control").attr("placeholder", "R$ 0.00");
        $("#id_data").addClass("form-control");
        $("#id_descricao").addClass("form-control").attr("rows", 2).attr("placeholder", "Descrição da Receita");
        $("#id_id_categoria").addClass("form-control");
        $("#lab_pago").attr("for", "id_pago");
        $("#lab_fixa").attr("for", "id_despesa_fixa");
        $("#id_id_gerenciador").attr("hidden", true);
        $("#id_id_gerenciador").val($("#gerenc").val());
        $("#id_fixa_ativa").attr("hidden", true);

    });

    $("#id_despesa_fixa").click(function (){
        if ($(this).prop("checked")) {
            $("#id_fixa_ativa").prop("checked", true);
        } else {
            $("#id_fixa_ativa").prop("checked", false);
        }
    });
</script>

{% endblock js %}