{% extends 'base.html' %}

{% block title %}Index - Despess{% endblock title %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard - DESPESS</h1>
    <div class="dropdown mb-4">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-download fa-sm text-white-50"></i> Relatorios</a>
        </button>
        <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
            <a class="dropdown-item" href="{% url 'relatorio:gerar_relatorio_geral' %}">Geral</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'relatorio:gerar_relatorio_receitas' %}">Receitas</a>
            <a class="dropdown-item" href="{% url 'relatorio:gerar_relatorio_despesas' %}">Despesas</a>
        </div>
    </div>
</div>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Saldo
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">R${{ list_gerenciador.saldo }}</div>
                    </div>
                    <div class="col-auto">
                        {% if list_gerenciador.saldo >= 0 %}
                        <i style="color: green" class="fas fa-dollar-sign fa-2x "></i>
                        {% else %}
                        <i style="color: red" class="fas fa-dollar-sign fa-2x "></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Receita Total
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">R${{ list_gerenciador.receita_total }}</div>
                    </div>
                    <div class="col-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                             style="fill:blue">
                            <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/>
                        </svg>
                        <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Despesa Total
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">R${{ list_gerenciador.despesa_total }}</div>
                    </div>
                    <div class="col-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                             style="fill:red">
                            <path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6z"/>
                        </svg>
                        <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a class="collapse-item" href="{% url 'gerenciador:pendencias' %}">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pendencias
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800 small">
                                {% if ttl_rec %} {{ ttl_rec }} receita(s) {% endif %}<br>
                                {% if ttl_desp %} {{ ttl_desp }} despesa(s) {% endif %}
                                {% if not ttl_rec or not ttl_desp %} Nenhuma Pendencia {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x" style="color: #d2d20f"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">

    <!-- Pie Chart -->
    <div class="col-xl-3 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                <h6 class="m-0 font-weight-bold text-primary">Valor das Receita por Categoria</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="chartReceitas" data-url="{% url 'gerenciador:receitasChart' %}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                <h6 class="m-0 font-weight-bold text-primary">Visão Geral dos Ganhos</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                <h6 class="m-0 font-weight-bold text-primary">Valor das Despesas por Categoria</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="chartDespesas" data-url="{% url 'gerenciador:despesasChart' %}"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}

<script type="text/javascript">

    $(function () {
        var $chartRec = $("#chartReceitas");

        $.ajax({
            url: $chartRec.data("url"),
            success: function (data) {

                var ctx = $chartRec[0].getContext("2d");

                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            data: data.data,
                            /*backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],*/
                                backgroundColor: ['#0061f2', '#00ac69', '#00cfd5', '#f4a100', '#e81500'],
                            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                            hoverBorderColor: "rgba(234, 236, 244, 1)",
                        }],
                    },
                    options: {
                        maintainAspectRatio: false,
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            caretPadding: 10,
                        },
                        legend: {
                            display: true,
                            position: 'bottom'
                        },
                        cutoutPercentage: 80,
                    },
                });
            }
        });
    });

    $(function () {
        var $chartDep = $("#chartDespesas");

        $.ajax({
            url: $chartDep.data("url"),
            success: function (data) {

                var ctx = $chartDep[0].getContext("2d");

                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: data.labels2,
                        datasets: [{
                            data: data.data2,
                            /*backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],*/
                            backgroundColor: ['#0061f2', '#00ac69', '#997933', '#e30059', '#00cfd5', '#f4a100', '#6900c7', '#e81500', '#acb5c2'],
                            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                            hoverBorderColor: "rgba(234, 236, 244, 1)",
                        }],
                    },
                    options: {
                        maintainAspectRatio: false,
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            caretPadding: 10,
                        },
                        legend: {
                            display: true,
                            position: 'bottom'
                        },
                        cutoutPercentage: 80,
                    },
                });
            }
        });
    });

</script>

{% endblock js %}