{% extends 'base.html' %}

{% block title %}Nova Receita{% endblock title %}

{% block content %}
<main>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Receitas</h1>
    </div>
    <hr class="mt-0 mb-4"/>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header d-sm-flex align-items-center justify-content-between">
                    <h5 style="color: black">Nova Receita</h5>
                    <h3><a onclick="javascript:history.back();" href="#" class="tool pr-1" title="Voltar">
                        <i class="fas fa-reply" style="color:black;"></i>
                    </a></h3>
                </div>
                <div class="card-body">
                    <input type="hidden" id="gerenc" value="{{ id_gerenc }}">
                    <form method="post">
                        {% csrf_token %}
                        <!--{{ form}}-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Valor</label>
                                <input type="number" name="valor" id="id_valor" step="0.01" class="form-control" placeholder="R$ 0.00" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Data</label>
                                <input type="date" name="data" id="id_data" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="small mb-1">Descrição</label>
                                <textarea name="descricao" id="id_descricao" class="form-control" rows="2" placeholder="Descrição da Receita" required></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Categoria</label>
                                <select id="id_id_categoria" name="id_categoria" class="form-control" required>
                                    <option value="" selected disabled>Selecione</option>
                                    {% for categoria in TipoCategoria %}
                                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label for="id_recebido" class="mb-1">Recebido</label><br>
                                    <input type="checkbox" name="recebido" id="id_recebido">
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label for="id_receita_fixa" class="mb-1">Receita Fixa</label><br>
                                    <input type="checkbox" name="receita_fixa" id="id_receita_fixa">
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" name="fixa_ativa" id="id_fixa_ativa" hidden="hidden">
                        {{ form.id_gerenciador }}

                        <hr>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_id_gerenciador").attr("hidden", true);
        $("#id_id_gerenciador").val($("#gerenc").val());
        $(".tool").tooltip();
    });

    $("#id_receita_fixa").click(function () {
        if ($(this).prop("checked")) {
            $("#id_fixa_ativa").prop("checked", true);
        } else {
            $("#id_fixa_ativa").prop("checked", false);
        }
    });
</script>

{% endblock js %}