{% extends 'base.html' %}

{% block title %}Excluir Receita{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4 justify-content-center">
        <div class="card text-center h-100">
            <div class="card-body px-5 pt-4 d-flex flex-column">
                <div>
                    <h3><a onclick="javascript:history.back();" href="#" class="tool pr-1 d-flex float-left" title="Voltar">
                        <i class="fas fa-reply" style="color:black;"></i>
                    </a></h3><br>
                    <div class="h3 text-primary font-weight-300">Deletar Receita</div>
                    <p class="text-muted mb-4">Tem certeza que deseja deletar "{{ object.descricao }}"?</p>
                </div>
                <div class="icons-org-create align-items-center mx-auto mt-auto"></div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-footer bg-transparent px-5 py-4">
                    <div class="small text-center">
                        <button type="submit" class="btn btn-block btn-primary">Deletar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".tool").tooltip();
    });
</script>

{% endblock js %}