{% extends 'base.html' %}

{% block title %}Editar Receita{% endblock title %}

{% block content %}
<main>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Receitas</h1>
    </div>
    <hr class="mt-0 mb-4"/>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header d-sm-flex align-items-center justify-content-between">
                    <h5 style="color: black">Editar Receita</h5>
                    <h3><a onclick="javascript:history.back();" href="#" class="tool pr-1" title="Voltar">
                        <i class="fas fa-reply" style="color:black;"></i>
                    </a></h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!--{{ form}}-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Valor</label>
                                {{ form.valor }}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Data</label>
                                <input type="date" name="data" id="id_data" value="{{ form.data.value|date:'Y-m-d' }}" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="small mb-1">Descrição</label>
                                <textarea name="descricao" id="id_descricao" class="form-control" rows="2" placeholder="Descrição da Receita" required> {{ form.descricao.value }}</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Categoria</label>
                                <select id="id_id_categoria" name="id_categoria" class="form-control" required>
                                    {% for field in form.id_categoria %}
                                        <tr>
                                            <td>{{ field }}</td>
                                        </tr>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label id="lab_recebido" class="mb-1">Recebido</label><br>
                                    {{ form.recebido }}
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label id="lab_fixa" class="mb-1">Receita Fixa</label><br>
                                    {{ form.receita_fixa }}
                                </div>
                            </div>

                        </div>

                        {{ form.fixa_ativa }}
                        {{ form.id_gerenciador }}
                        <hr>
                        <div class="d-flex justify-content-center">
                            {% if not form.recebido.value %}
                                <button class="btn btn-success mr-2" id="id_confirm_rec" type="submit">Receber</button>
                            {% endif %}
                            <button class="btn btn-primary" type="submit">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".tool").tooltip();
        $("#id_valor").addClass("form-control");
        $("#lab_recebido").attr("for", "id_recebido");
        $("#lab_fixa").attr("for", "id_receita_fixa");
        $("#id_fixa_ativa").attr("hidden", true);
        $("#id_id_gerenciador").attr("hidden", true);
    });

    $("#id_confirm_rec").click(function () {
        $("#id_recebido").prop("checked", true);
    });
</script>

{% endblock js %}