{% extends 'base.html' %}

{% block title %}Detalhar Receita{% endblock title %}

{% block content %}
<main>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Receitas</h1>
    </div>
    <hr class="mt-0 mb-4"/>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Detalhar Receita</div>
                <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="mb-1"><b>Valor: </b>{{ receita.valor }}</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="mb-1"><b>Data: </b>{{ receita.data }}</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="mb-1"><b>Descrição: </b>{{ receita.descricao }}</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="mb-1"><b>Categoria: </b> {{ receita.id_categoria.nome }}</label>
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label id="lab_recebido" class="mb-1"><b>Recebido: </b>
                                        {% if receita.recebido %}
                                            <td><label class="badge badge-primary">Sim</label></td>
                                        {% else %}
                                            <td><label class="badge badge-danger">Não</label></td>
                                        {% endif %}
                                    </label><br>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="check-radio">
                                    <br><label id="lab_fixa" class="mb-1"><b>Receita Fixa: </b>
                                        {% if receita.receita_fixa %}
                                            <td><label class="badge badge-primary">Sim</label></td>
                                        {% else %}
                                            <td><label class="badge badge-danger">Não</label></td>
                                        {% endif %}
                                    </label><br>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}