{% extends 'base.html' %}

{% block title %}Listagem de Receitas{% endblock title %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Receita</h1>
</div>
<hr class="mt-0 mb-4"/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listagem das Receitas Fixas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Ativo</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for receita in list_receita %}
                        <tr>
                            <td>{{ receita.id }}</td>
                            <td title="{{ receita.descricao }}">{{ receita.descricao|truncatechars:25 }}</td>
                            <td>{{ receita.id_categoria.nome }}</td>
                            <td>{{ receita.valor }}</td>
                            <td>{{ receita.data }}</td>
                            {% if receita.fixa_ativa %}
                                <td><label class="badge badge-primary">Sim</label></td>
                            {% else %}
                                <td><label class="badge badge-danger">Não</label></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
