<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Receita_list</title>
</head>
<body>
{% for receita in list_receita %}
<label>{{ receita.descricao }} </label>
<a href="{% url 'gerenciador:updateReceita' receita.id %}">Update </a>
<a href="{% url 'gerenciador:deleteReceita' receita.id %}">Delete</a><br>
{% endfor %}
<br>
<a href="{% url 'gerenciador:createReceita' %}">Novo</a>
</body>
</html>
